body {
margin:0;
padding:0;
}
.flex-container, .flex-container1  {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  justify-content: space-around;
  align-items: center;
}
.flex-container {
  min-height: 100vh;
  min-width: 100vw;
  background: #014171 url(pictures/background.jpg);
}
.flex-container1 {
  width: 100%;
  height: 100%;
}
.flex-block1, .flex-block2, .flex-block3, .flex-block4, .flex-block5 {
  background: rgba(255, 248, 220, 0.94);
  border: 1px solid #8B4513;
  border-radius: 85px;
  padding: 0px;
  margin: 5px;
  width: 55vw;
  min-height: 15vh;
  color: #8B4513;
  font-weight: bold;
  font-family: cursive;
  font-size: 3vh;
  line-height:1.2;
  text-align: center;
}
.flex-block2 {
  width: 35vw;
  min-height: 25vh;
  font-size: 4.5vh;
}
.flex-block3 {
  width: 75vw;   
}
.flex-block4 {
  border-radius: 10px;
}
.flex-block5 {
  width: 40vw;  
  border-radius: 10px;
  font-size: 3vh;
}
div.photo {
  width: 50vh;
  padding: 5vh;
}
div.photo:hover {
  margin:0 auto;
}
img.tips {
  width: 80%;
  padding: 5vh;
}
img.photo {
  width: 50vh;
  padding: 0vh;
  border-radius: 50px;
  transition: 0.5s;
}
img.photo:hover {
  transform: scale(1.6);
}
a { 
  text-decoration: none;
  color: #8B4513;
}
a:hover {
  color:#ff0000; 
}
ul {
    margin: 0;
    padding-left: 0;
    color: #8B4513;
    z-index:100;
}
li {  
  background: rgba(255, 248, 220, 0.94);
  border: 1px solid #8B4513;
  border-color: #8B4513;
  border-radius: 85px;
    display: block;
    float: right;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
li a {
  color: #8B4513;
    font-weight: bold;
    font-family: cursive;
}
li:hover {
  cursor: pointer;
}
ul li ul {
  border-radius: 85px;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul li ul li {
  clear: both;
  width: 100%;
}
ol {
margin: 0;
}
ol li {
list-style:none;
border: none;
border-radius: 0px;
background: url(pictures/favicon.ico) left center no-repeat;
padding:15px 15px 25px 70px;
float: left;
}
.li1 {
background: url(pictures/Classroom_teacher.ico) left center no-repeat;
} 
.li2 {
background: url(pictures/English.ico) left center no-repeat;
} 
.li3 {
background: url(pictures/English.ico) left center no-repeat;
} 
.li4 {
background: url(pictures/Physical_Education.ico) left center no-repeat;
} 
.li5 {
background: url(pictures/Computer_science.ico) left center no-repeat;
} 
.li6{
background: url(pictures/GPD.ico) left center no-repeat;
} 
li.list_of_students {
  padding:15px 15px 15px 0px;
  background: none;
}
ol.list_of_students {
  padding: 0;
  line-height: 1;
  counter-reset: list 0; 
}
ol.list_of_students li.list_of_students:before {
  counter-increment: list; 
  content: counter(list) ". "; 
  float: left;
}
table, td, th {
  margin:0 auto;
  text-align: left;
  border: 1px solid #8B4513;
  border-color: #8B4513;
  border-collapse: collapse;
}
th {
  text-align: center;
  color:#ff0000;
}