body {
  font-family: Comic Sans MS, Times New Roman, Trebuchet MS, sans-serif;
  margin:0;
  padding:0;
  background: #014171 url(pictures/background.jpg); 
}
.flex-container, .flex-child > div {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.flex-container {
  min-height: 100vh;
}
.flex-child > div {
  width: 100%;
  height: 100%;
}
.flex-block1 div, .flex-block2 div, .flex-block3 div {
  background: rgba(255, 248, 220, 0.94);
  border: 1px solid #8B4513;
  border-radius: 35px;
  padding: 5px;
  margin: 5px;
  width: 48vw;  
  color: #8B4513;
  font-weight: bold;  
  font-size: calc(8px + 2.1vw);
  line-height:1.2;
  text-align: center;
}
.flex-block2 div {
  background: none;
  border: none;
  width: 35vw; 
  font-size: calc(4.5px + 4.5vw);
  color: #FFFFFF;
  text-shadow: #2F4F4F 0 0 10px; 
}
.flex-block3 div {
  width: 80vw;
  font-size: 3.5vw;   
}
img.round {  
  width: 30vw;   
}
.photo > div {
  width: 50vh;
  padding: 5vh;
}
.photo img {
  width: 50vh;
  padding: 0vh;
  border-radius: 30px;
  transition: 0.5s;
}
img.photo:hover {
  cursor: pointer;
  transform: scale(1.6);
}
img.tips {
  width: 80%;
  padding: 5vh;
}
a { 
  text-decoration: none;
  color: #9e72b1;  
}
a:hover {
  transition: 1s;
  color:#ff0000; 
}
ul {
  margin: 5px;
  padding-left: 0;
  color: #8B4513;  
}
li {  
  background: rgba(255, 248, 220, 0.94);
  border: 1px solid #8B4513;
  border-color: #8B4513;
  border-radius: 15px;
  display: block;
  float: right;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
.li7 li, .li8 li, .li9 li {   
  float: left;   
}
.li7 li, li.li10 {
  background: rgba(154, 205, 50, 0.9);  
}
.li8 li, li.li11{
  background: rgba(86, 192, 254, 0.9);  
}
.li9 li, li.li12{
  background: rgba(189, 140, 206, 0.9);
}
li a {
  color: #8B4513;
  font-weight: bold;
  font-size: 3vw;    
}
.li7 li a, .li8 li a, .li9 li a, li.li10  a, li.li11  a, li.li12  a {
  color: #FFFFFF;
  text-shadow: #2F4F4F 0 0 10px;  
}
.li7 li a:hover, .li8 li a:hover, .li9 li a:hover, .dropdown > li a:hover {
  color: #ff0000;
  text-shadow: none;
}
li:hover {
  cursor: pointer;
}
ul li ul {    
  visibility: hidden;
  opacity: 0;  
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  right: 0;
  display: none;
  z-index:100;
}
.navigation ul li ul {  
  left: 0;  
  max-width: 35vw;  
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul li ul li {
  clear: both;
  width: 100%;
}
ol {
  margin: 0;
}
ol li {
  list-style:none;
  border: none;
  border-radius: 0px;
  background: url(pictures/favicon.ico) left center no-repeat;
  padding:15px 15px 25px 70px;
  float: left;
}
.li1, .li2, .li3, .li4, .li5, .li6 {
  font-size: 4.5vw; 
} 
.li1 {
  background: url(pictures/Classroom_teacher.ico) left center no-repeat;
  color: #9e72b1;  
} 
.li2 {
  background: url(pictures/English.ico) left center no-repeat;
  color: #B8860B;
} 
.li3 {
  background: url(pictures/English.ico) left center no-repeat;
  color: #808000;
} 
.li4 {
  background: url(pictures/Physical_Education.ico) left center no-repeat;
  color: #7b4902;
} 
.li5 {
  background: url(pictures/Computer_science.ico) left center no-repeat;
  color: #4b5d2f;
} 
.li6{
  background: url(pictures/GPD.ico) left center no-repeat;
  color: #CD5C5C;
}
.list_of_students > li {
  padding:15px 15px 15px 0px;
  background: none;
}
li.list_of_students1 {
  color: #9e72b1;
}
li.list_of_students2 {
  color: #B8860B;
}
li.list_of_students3 {
  color: #808000;
}
li.list_of_students4 {
  color: #7b4902;
}
li.list_of_students5 {
  color: #4b5d2f;
}
li.list_of_students6 {
  color: #CD5C5C;
}
ol.list_of_students {
  padding: 0;
  line-height: 1;
  counter-reset: list 0;
}
ol.list_of_students :before {
  counter-increment: list; 
  content: counter(list) ". "; 
  float: left;
}
table, td, th {
  margin:0 auto;
  text-align: left;
  border: 1px solid #8B4513;
  border-color: #8B4513;
  border-collapse: collapse;
}
th {
  text-align: center;
  color:#ff0000;
}
td.td1 {  
  color:#9e72b1;
}
td.td2 {  
  color:#B8860B;
}
td.td3 {  
  color:#808000;
}
td.td4 {  
  color:#4b5d2f;
}
td.td5 {  
  color:#CD5C5C;
}
.icon {
  font-size: 2em;    
}