body {
  font-family: Comic Sans MS, Times New Roman, Trebuchet MS, sans-serif;
  margin:0;
  padding:0;
}
.flex-container, .flex-container1  {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.flex-container {
  min-height: 100vh;
  min-width: 100vw;
  background: #014171 url(pictures/background.jpg);
}
.flex-container1 {
  width: 100%;
  height: 100%;
}
.flex-block1, .flex-block2, .flex-block3, .flex-block4, .flex-block5 {
  background: rgba(255, 248, 220, 0.94);
  border: 1px solid #8B4513;
  border-radius: 35px;
  padding: 5px;
  margin: 5px;
  width: 62vw;
  min-height: 15vh;
  color: #8B4513;
  font-weight: bold;  
  font-size: 2vw;
  line-height:1.2;
  text-align: center;
}
.flex-block2 {
  background: none;
  border: none;
  width: 35vw;
  min-height: 12vh;
  font-size: 3vw;
  color: #FFFFFF; 
}
.flex-block3 {
  width: 75vw;
  font-size: 3vw;   
}
.flex-block4,.flex-block5 {
  width: 60vw;  
  border-radius: 10px;
  font-size: 3vw;
}
div.photo {
  width: 50vh;
  padding: 5vh;
}
div.photo:hover {
  margin:0 auto;
}
img.tips {
  width: 80%;
  padding: 5vh;
}
img.photo {
  width: 50vh;
  padding: 0vh;
  border-radius: 50px;
  transition: 0.5s;
}
img.photo:hover {
  transform: scale(1.6);
}
a { 
  text-decoration: none;
  color: #8B4513;
}
a:hover {
  color:#ff0000; 
}
ul {
  margin: 0;
  padding-left: 0;
  color: #8B4513;
  z-index:100;
}
li {  
  background: rgba(255, 248, 220, 0.94);
  border: 1px solid #8B4513;
  border-color: #8B4513;
  border-radius: 85px;
  display: block;
  float: right;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
li.li7{
  background: rgba(200, 237, 105, 0.9);
  
}
li.li8{
  background: rgba(86, 192, 254, 0.9);
  
}
li.li9{
  background: rgba(189, 140, 206, 0.9);
  
}
li a {
  color: #8B4513;
  font-weight: bold;    
}
li.li7  a, li.li8  a, li.li9  a {
  color: #FFFFFF;
}
li.li7  a:hover, li.li8  a:hover, li.li9  a:hover {
  color: #ff0000;
}
li:hover {
  cursor: pointer;
}
ul li ul {  
  border-radius: 85px;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}
ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul li ul li {
  clear: both;
  width: 100%;
}
ol {
  margin: 0;
}
ol li {
  list-style:none;
  border: none;
  border-radius: 0px;
  background: url(pictures/favicon.ico) left center no-repeat;
  padding:15px 15px 25px 70px;
  float: left;
}
.li1 {
  background: url(pictures/Classroom_teacher.ico) left center no-repeat;
  color: #9c73af;  
} 
.li2 {
  background: url(pictures/English.ico) left center no-repeat;
  color: #dfab42;
} 
.li3 {
  background: url(pictures/English.ico) left center no-repeat;
  color: #b1ac3e;
} 
.li4 {
  background: url(pictures/Physical_Education.ico) left center no-repeat;
  color: #7b4902;
} 
.li5 {
  background: url(pictures/Computer_science.ico) left center no-repeat;
  color: #4b5d2f;
} 
.li6{
  background: url(pictures/GPD.ico) left center no-repeat;
  color: #FA8072;
}
li.list_of_students {
  padding:15px 15px 15px 0px;
  background: none;
}
ol.list_of_students {
  padding: 0;
  line-height: 1;
  counter-reset: list 0; 
}
ol.list_of_students li.list_of_students:before {
  counter-increment: list; 
  content: counter(list) ". "; 
  float: left;
}
table, td, th {
  margin:0 auto;
  text-align: left;
  border: 1px solid #8B4513;
  border-color: #8B4513;
  border-collapse: collapse;
}
th {
  text-align: center;
  color:#ff0000;
}